# 시리즈와 데이터프레임의 데이터 처리하기

### 1. 열의 자료형 바꾸기와 새로운 열 추가하기

In [2]:
import pandas as pd

In [3]:
scientists = pd.read_csv('C:/Users/김지상/Downloads/doit_pandas-master/doit_pandas-master/data/scientists.csv')

In [4]:
print(scientists['Born'].dtype)

object

In [5]:
print(scientists['Died'].dtype)

object

### 2. datetime 이라는 자료형으로 바꾼다음 format 속성을 날짜 형식 지정하기

In [6]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')

In [7]:
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [8]:
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')

In [9]:
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

### 3. 데이터프레임에 각각의 값을 새로운 열로 추가, shape 속성으로 확인하기

In [10]:
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)

In [11]:
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [12]:
print(scientists.shape)

(8, 7)

### 4. 시간계산 해보기 (died_dt 열에서 dorn_dt 를 빼기)

In [13]:
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])

In [14]:
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

### 5. 시리즈, 데이터프레임의 데이터 섞기

In [15]:
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

### 6. random 라이브러리 shuffle 메서드로 데이터 섞기

In [16]:
import random

In [17]:
random.seed(42)

In [18]:
random.shuffle(scientists['Age'])

c:\users\김지상\appdata\local\programs\python\python39\lib\random.py:363: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

In [ ]:
0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

### 7. 데이터프레임의 열 삭제하기

In [19]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

### 8. 데이터프레임의 drop 메서드 사용하기

In [20]:
scientists_dropped = scientists.drop(['Age'], axis=1)

In [21]:
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')