# 시리즈와 불린 추출 사용하기

### 1. scientists.csv 데이터 불러오기

In [2]:
import pandas as pd

In [4]:
scientists = pd.read_csv('C:/Users/김지상/Downloads/doit_pandas-master/doit_pandas-master/data/scientists.csv')

### 2. 통계 수치의 결괏값을 이용하여 불린 추출 하기.

In [5]:
ages = scientists['Age']

In [6]:
print(ages.max())

90

In [7]:
print(ages.mean())

59.125

### 3. 불린 추출 사용하기

In [8]:
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [9]:
print(type(ages > ages.mean()))

<class 'pandas.core.series.Series'>

### 4. 참(True) 조건식 만족값만 출력

In [10]:
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [11]:
print(type(ages > ages.mean()))

<class 'pandas.core.series.Series'>

### 5. 과정 3과4를 합친 코드로 불린 추출하기

In [12]:
manual_bool_values = [True, True, False, False, True, True, False, True]

In [13]:
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅

### 1. 같은 길이의 벡터로 + , * 연산 해보기

In [14]:
print(ages + ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [15]:
print(ages * ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

### 2. 벡터에 스칼라 연산하여 브로드캐스팅 하기

In [16]:
print(ages + 100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [17]:
print(ages * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

### 3. 길이가 서로 다른 벡터를 연산해 보기

In [18]:
print(pd.Series([1, 100]))

0      1
1    100
dtype: int64

In [19]:
print(ages + pd.Series([1, 100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

### 4. sort_index 메서드를 사용하여  ascending 인자로 False를 전달 인덱스 역순으로 데이터 정렬.

In [20]:
rev_ages = ages.sort_index(ascending=False)

In [21]:
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

### 5. 벡터와 벡터의 연산은 일치하는 인덱스의 값끼리 수행하는것 확인하기

In [22]:
print(ages * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [23]:
print(ages + rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64